{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}home/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}home/css/site.css">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
	
</style>
{% endcompress %}
{% endblock %}



{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}home/js/site.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}

<script type="text/javascript"
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBE6NAqMslOi-G61IREqzoV0MAQwacn9bA&sensor=false"></script>
<script src='//connect.facebook.net/en_US/all.js'></script>
<div class="row" id="main">
  <div class="span12">
    
	{% include "home/_header.html" %}
    <div class="row">
      <div class="span12">
			<h1>My Schools</h1>
			{% for s in my_schools %}
			<div class="school">
				<div class="quick_contact_info"><a href="mailto:{{school.email}}">{{s.email}}</a> &nbsp; {{s.phone_number}}</div>
				<h2><a href="{% url schools:detail s.slug %}" class="school_name">{{s}}</a></h2>

				<div class="events">
					{% for e in s.upcoming_events %}
					<div class="event">
						<a href="{{e.facebook_event_url}}" target="_blank">{{e.name}}</a> - {{e.start_time|date}} {{e.start_time|time}}
					</div>
					{% endfor %}
				</div>
			</div>
			{% endfor %}
      </div>
    </div>
</div>
{% endblock %}