{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}home/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}home/css/site.css">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<style type="text/css">
	
</style>
{% endcompress %}
{% endblock %}



{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}home/js/site.js"></script>
{% endcompress %}
{% endblock %}

{% block content %}

<script type="text/javascript"
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE6NAqMslOi-G61IREqzoV0MAQwacn9bA&sensor=false"></script>
<script src='//connect.facebook.net/en_US/all.js'></script>
<div class="row" id="main">
  <div class="span12">
  {% include "home/_header.html" %}
    
    <div class="row">
      <div class="span12" >
		    <form class="form-search" id="zipcode_form" method="POST" action="{# {% url home:home %} #}">
				<fieldset>
					<div class="control-group" id="zipcode">
						<label for="zipcode">Enter your Zipcode</label>
						<input type="text" id="zipcode_input" class="input-medium search-query" placeholder="Zipcode" />
						<!--<button type="submit" class="btn btn-primary">
							GO
						</button>
					-->
					<button type="submit" style="border: 0; background: transparent">
    					<img src="{{STATIC_URL}}base/img/button_go.png" width="59" heght="36" alt="Save my schools" />
					</button>
					</div>
				</fieldset>
			</form>
    	</div>
    </div>	
    	
    <div class="row">
      <div class="span6">
		<div class="map_pane" id="map" style="height: 315px; width: 360px"></div>
      </div>
      <div class="span6">
      	<form class="form-horizontal" id="schools">
      	
      	<h3>My Neighborhood Schools:</h3>
      	<p>Choose your schools on the map to get started.</p>
      	<fieldset>
		<div class="row">
			<div class="span6">
				<div class="control-group error">
					<input class="input-xlarge" id="high_school" type="text" placeholder="Choose a High School" disabled="">
					<span id="high_school_complete" style="display: none"><img src="{{STATIC_URL}}base/img/checkmark.png" width="34" height="27" alt="Done" /></span>
				</div>
			</div>
		</div><br />
		<div class="row">
			<div class="span6">
				<input class="input-xlarge " id="middle_school" type="text" placeholder="Choose a Middle School" disabled="">
				<span  id="middle_school_complete" style="display: none"><img src="{{STATIC_URL}}base/img/checkmark.png" width="34" height="27" alt="Done" /></span>
			</div>
		</div><br />
		<div class="row">
			<div class="span6">
				<input class="input-xlarge " id="elementary_school" type="text" placeholder="Choose a Elementary School" disabled="">
				<span  id="elementary_school_complete" style="display: none"><img src="{{STATIC_URL}}base/img/checkmark.png" width="34" height="27" alt="Done" /></span>
			</div>
		</div><br />
			<a href="{% url my_schools:home %}" type="submit" style="border: 0; background: transparent">
    			<img src="{{STATIC_URL}}base/img/button_save.png" width="169" heght="35" alt="Save my schools" />
			</a>
			<!--<button class="btn btn-warning" href="#">Save my schools</button>-->
		</fieldset>
		</form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var locations = [   
	{% for s in all_schools %}
	['{{s.name}}', {{s.lat}}, {{s.lon}}, '{{s.school_type}}'],
	{% endfor %}                                 
]
	var map = new google.maps.Map(document.getElementById('map'), {
		zoom : 11,
		center : new google.maps.LatLng(45.52, -122.62),
		mapTypeId : google.maps.MapTypeId.ROADMAP
	});
	

	var infowindow = new google.maps.InfoWindow();
	geocoder = new google.maps.Geocoder();

	var marker, i;
	
	
     
	for( i = 0; i < locations.length; i++) {
		marker = new google.maps.Marker({
			position : new google.maps.LatLng(locations[i][1], locations[i][2]),
			map : map
		});
		
		google.maps.event.addListener(marker, 'click', (function(marker, i) {
			return function() {
				infowindow.setContent(locations[i][0] + '<br /><a href="#" onclick="return setSchool(\'' + locations[i][0] + '\',\'' + locations[i][3] + '\');">Add this school.</a>');
				infowindow.open(map, marker);
				
				
			}
		})(marker, i));
	}
	
</script>
{% endblock %}