{% extends "base.html" %}{% load compress %}

{% block css %}{{block.super}}
{% compress css %}
<link rel="stylesheet" href="{{STATIC_URL}}schools/css/fonts.css">
<link rel="stylesheet" href="{{STATIC_URL}}schools/css/site.css">
<link href="{{ STATIC_URL }}css/facebook.css" type="text/css" rel="stylesheet" media="all" />
{% endcompress %}
{% endblock %}

{% block js %}{{block.super}}
{% compress js %}
<script src="{{STATIC_URL}}schools/js/site.js"></script>
{% endcompress %}
{% include 'django_facebook/_facebook_js.html' %}
{% endblock %}


{% block content %}
	{% include "home/_header.html" %}
<form action="{% url facebook_connect %}?facebook_login=1" method="post">
<a href="javascript:void(0);" style="font-size: 20px;" onclick="F.connect(this.parentNode);">Register, login or connect with facebook</a>
<input type="hidden" value="{{ request.path }}" name="next" />
</form>



{% if request.user.is_authenticated %}
    <h1>Welcome {{ request.user }}</h1><a href="{% url auth_logout %}?next={{ request.path|urlencode }}">logout</a><br />
    
    <p>
    Thank you for logging in with Facebook.
    By default you will have the following data available:
    </p>
    
    <table id="rounded-corner">
        <thead>
            <tr>
                <th>Field</th>
                <th>Data</th>
            </tr>
        </thead>
        <tr>
            <td>First Name:</td><td>{{ request.user.first_name }}</td>
        </tr>
        <tr>
            <td>Last Name:</td><td>{{ request.user.last_name }}</td>
        </tr>
        <tr>
            <td>Gender:</td><td>{{ request.user.get_profile.gender }}</td>
        </tr>
        <tr>
            <td>About me:</td><td>{{ request.user.get_profile.about_me }}</td>
        </tr>
        <tr>
            <td>Facebook profile url:</td><td>{{ request.user.get_profile.facebook_profile_url }}</td>
        </tr>
        <tr>
            <td>Facebook ID:</td><td>{{ request.user.get_profile.facebook_id }}</td>
        </tr>
        <tr>
            <td>Date of Birth:</td><td>{{ request.user.get_profile.date_of_birth }}</td>
        </tr>
        <tr>
            <td>Website Url:</td><td>{{ request.user.get_profile.website_url }}</td>
        </tr>
        <tr>
            <td>Local Image:</td><td><img src="{{ request.user.get_profile.image.url }}" title="local copy" /></td>
        </tr>
        <tr>
            <td>Hotlinked Image:</td><td><img src="http://graph.facebook.com/{{ request.user.get_profile.facebook_id }}/picture?type=large" title="facebook stored image" /><br /></td>
        </tr>
        <tr>
            <td>Likes:</td>
            <td>
                <ul>
                {% for like in request.user.get_profile.likes|slice:":5" %}
                    <li>{{ like.name }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Friends:</td>
            <td>
                <ul>
                {% for friend in request.user.get_profile.friends|slice:":5" %}
                    <li>{{ friend.name }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>Getting More:</td><td>Facebook has a ton more data, read about it <a href="https://developers.facebook.com/docs/reference/api/">here</a>.</td>
        </tr>
    </table>
    
    <p>
        You can connect users which registered the old fashioned way, by giving them the following option to connect.
        Note that we explitly indicate that we are connecting using the connect_facebook=1 value.
    </p>
    <form action="{% url facebook_connect %}?facebook_login=1" method="post">
        <a href="javascript:void(0);" onclick="F.connect(this.parentNode);">Connect this account to Facebook</a> (used to connect non facebook accounts)
        <input type="hidden" value="{{ request.path }}" name="next" />
        <input type="hidden" name="connect_facebook" value="1">
    </form>
{% endif %}
{% endblock %}